#login{
    margin-bottom: 8%;
    margin-top: 3%;
    align-content: center;
    margin-left: 36%;
}
.btn{
    color: darkred;
    background-color: rosybrown;
}
.btn-outline :hover{
    color: rosybrown;
    background-color: darkred;
}
span{
    color: red;
    font-size: 15px;
    margin-left: 3%;
    margin-top: 1%;
}