<div class="row mt-5" id="titulo">
    <div class="col-md-12 mb-3">
        <h3>LISTAGEM PRODUTOS</h3>
    </div>
</div>
<div *ngFor='let produto of lista'>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5" id="lista">
            <h4>{{produto.codigo}} - {{produto.titulo}} ({{produto.detalhes}} | R$ {{produto.preco}},00)</h4>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br>
    </div>
</div>